---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">rickposting...</div>
    <div class="text-5xl font-bold">I'm Rick Huang</div>
    <div class="text-3xl py-3 font-bold">Student in EECS @ UC Berkeley</div>
    <div class="py-2">
      <text class="text-lg">
        I've had an interesting journey so far; I started off as a Mechanical Engineer before pivoting to EECS a day before the major switch deadline prior to my Junior year. I've been a founding member of Formula Electric at Berkeley, a teacher for the HOPE PCB DeCal, and a semi-professional resume reviewer. But if you're here, you've probably seen the technical side a lot already.
        <br /><br />
        This is a space where I'll be sharing items that I'm proud of but won't make it into a CV and could be useful for the public to know. Enjoy.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
